*.pyc
*.pyo
*.log

*~
projects
.coverage
.coverone
.py,cover
local_config.py
#*#

*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.eggs
*.cache
__pycache__

.DS_Store

projects
dist
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
.installed.cfg
*.tmp*
#*#

poetry.toml
poetry.lock
TODO.*
*.pkl
